### 심사 문제 Unit 8

In [3]:
korean, english, mathematics, science = map(int, input().split())
print(korean >= 90 and english > 80 and mathematics > 85 and science >= 80)

True

### 심사 문제 Unit 9

In [4]:
s = ''''Python' is a "programming language"
that lets you work quickly
and
integrate systems more effectively.'''
print(s)

'Python' is a "programming language"
that lets you work quickly
and
integrate systems more effectively.

### 심사 문제 Unit 13

In [7]:
price = int(input())
coupon = input()
if(coupon == 'Cash3000'):
    price -= 3000
if(coupon == 'Cash5000'):
    price -= 5000
print(price)

67000

### 심사 문제 Unit 14

In [10]:
korean, english, mathematics, science = map(int,input().split())
if(0 > korean or korean > 100 or 0 > english or english > 100 or 0 > mathematics or mathematics > 100 or 0 > science or science > 100):
    print('잘못된 점수')
else:
    avg = (korean + english + mathematics + science) / 4
    if(avg >= 80):
        print('합격')
    else:
        print('불합격')

잘못된 점수

In [1]:
# list를 사용해서 개선된 코드
scores = list(map(int, input().split()))
if min(scores) < 0 or max(scores) > 100:
    print('잘못된 점수')
else:
    avg = sum(scores)/len(scores)
    if(avg >= 80):
        print('합격')
    else:
        print('불합격')

불합격

In [12]:
age = int(input())
balance = 9000
if 7 <= age <= 12:
    balance -= 650
elif 13 <= age <= 18:
    balance -= 1050
else:
    balance -= 1250
print(balance)

8350

### 심사문제 Unit 10

In [11]:
num = int(input())
a = tuple(range(-10, 10, num))
print(a)

(-10, -7, -4, -1, 2, 5, 8)

### 심사문제 Unit 11 - 01

In [5]:
x = input().split()
y = tuple(x[:len(x)-5])
print(y)

('1', '2', '3', '4', '5')

In [2]:
x = input().split()
del x[-5:]          # del x[len(x)-5:] 
print(tuple(x))

('1', '2', '3', '4', '5')

### 심사문제 Unit 11 - 02

In [3]:
a = input()
b = input()
print(a[1::2] + b[::2])

elwrd

### 심사문제 Unit 12

In [4]:
a = input().split()
b = list(map(float, input().split()))
c = dict(zip(a, b))
print(c)

{'a': 3.1, 'b': 2.3, 'c': 4.5, 'd': 9.1}

In [5]:
list(zip(a, b))

[('a', 3.1), ('b', 2.3), ('c', 4.5), ('d', 9.1)]

In [10]:
a = ['a', 'b']
b = [1, 2]
tuple(zip(a, b))

(('a', 1), ('b', 2))

In [27]:
a = int(input())
for i in range(1, 10):
    print(f'{a} * {i} = {a*i}')

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

### 심사 문제 Unit 20

In [29]:
a, b = map(int, input().split())
for i in range(a, b+1):
    if(i % 5 == 0 and i % 7 == 0):
        print('FizzBuzz')
    elif(i % 5 == 0):
        print('Fizz')
    elif(i % 7 == 0):
        print('Buzz')
    else:
        print(i)

FizzBuzz
36
37
38
39
Fizz

In [6]:
# (i % 5 == 0) True -> 1 False -> 0 -> ''
a, b = map(int, input().split())
for i in range(a, b+1):
    print('Fizz' * (i % 5 == 0) + 'Buzz' * (i % 7 == 0) or i, end=' ')

FizzBuzz 36 37 38 39 Fizz

### 심사 문제 Unit 22

In [56]:
start, end = map(int, input().split())
power_list = []
for index, value in enumerate(list(range(start, end+1))):
    if index == 1:
        _
    elif index == end - start - 1:
        _
    else:
        power_list.append(2**value)
print(power_list)

[2, 8, 16, 32, 64, 128, 256, 1024]

In [8]:
# 2 4 8 16 32
# del a[1]
# del a[len(a)-2] -> 마지막을 지울수가 있음.
# del a[3]
m, n = map(int, input().split())
if 1<=m<=20 and 10<=n<=30 and m<n:
    power_list = []
    for i in range(m, n+1):
        power_list.append(2 ** i)
    del power_list[1], power_list[-2]
    print(power_list)

[2, 8, 16, 32, 64, 128, 256, 1024]

In [66]:
start, end = map(int, input().split())
power_list = []
for index, value in enumerate(list(range(start, end+1))):
    power_list.append(2**value)
print(power_list[:1] + power_list[2:end-start-1] + power_list[end-start:])

[2, 8, 16, 32, 64, 128, 256, 1024]

In [67]:
del power_list[1]
del power_list[-2]
print(power_list)

[2, 8, 16, 32, 64, 128, 256, 1024]

In [81]:
a = 'ABC'
b = a[:2]
a, b

('ABC', 'AB')

In [69]:
b = (1, 2, 3)
b[:1]

(1,)

In [77]:
a, b = range(3)[:2]
a, b

(0, 1)

### 심사문제 Unit 17

In [15]:
deposit = int(input())
while True:
    deposit -= 1350
    if deposit < 0:
        break
    print(deposit)

12150
10800
9450
8100
6750
5400
4050
2700
1350
0

In [ ]:
balance = int(input())
fare = 1350
while balance >= fare:
    balance -= fare
    print(balance)

### 심사문제 Unit 18

In [20]:
start, stop = map(int, input().split())
i = start
while True:
    if i % 10 == 3:
        i += 1
        continue
    if i > stop:
        break
    print(i, end=' ')
    i += 1

1 2 4 5 6 7 8 9 10 11 12 14 15 16 17 18 19 20

In [ ]:
start, stop = map(int, input().split())
for i in range(start, stop+1):
    if i % 3 == 0:
        continue
    print(i)

### 심사문제 Unit 19

In [37]:
t_height = int(input())
for i in range(0, t_height):
    for _ in range(t_height - i - 1, 0, -1):
        print(' ', end='')
    # print(' '*(t_height - i - 1), end='')
    for _ in range(0, 2*i+1):
        print('*', end='')
    # print('*'*(2*i+1), end='')
    print()

    *
   ***
  *****
 *******
*********

In [2]:
height = int(input())
for i in range(1, height + 1):
    print(' ' * (height - i), end='')
    print('*' * (2*i -1))

    *
   ***
  *****
 *******
*********

### 심사문제 Unit 24 - 1

In [41]:
content = input()
words = content.split()
count = 0
for word in words:
    word_strip = word.strip(',.')
    if word_strip == 'the':
        count += 1
print(count)

6

In [ ]:
text_list = text.split()
count_the = 0
for word in text_list:
    word = word.strip("',.").lower()
    if word == 'the':
        count_the += 1
print(count_the)

### 심사문제 Unit 24 - 2

In [57]:
price_list = list(map(int,input().split(';')))
price_list.sort(reverse=True)
for price in price_list:
    print(f'{price:>9,d}')

1,304,000
  367,500
  250,000
  158,000
  128,500
   83,000
   59,200
   51,900

### 심사문제 Unit 25

In [4]:
keys = input().split()
values = map(int, input().split())

x = dict(zip(keys, values))

x.pop('delta')
x = {key:value for key, value in x.items() if value != 30}
# x.pop([key for key, value in x.items() if value == 30][0])

print(x)

{'bravo': 40, 'charlie': 50, 'echo': 70, 'foxtrot': 80, 'golf': 90}

In [21]:
# 반복문에서 반복 대상이 되는 딕셔너리의 크기를 변경시키는 작업을 하면 에러 발생
# 하지만 데이터는 삭제됨
d = {'alpha' : 10, 'bravo' : 20, 'charlie' : 30}
for key, value in d.items():
    if value == 30:
        del d[key]

RuntimeError: dictionary changed size during iteration

In [ ]:
d = {'alpha' : 10, 'bravo' : 20, 'charlie' : 30}
del_key = ''

In [12]:
x, y = map(int, input().split())
a = {i for i in range(1, x+1) if x % i == 0}
b = {j for j in range(1, y+1) if y % j == 0}

divisor = a & b

result = 0
if type(divisor) == set:
    result = sum(divisor)

print(result)

18

### 심사문제 Unit 23

In [15]:
from pprint import pprint
x, y = map(int, input().split())
matrix = []
for _ in range(x):
    mines = input()
    mines_row = []
    for mine in mines:
        mines_row.append(mine)
    matrix.append(mines_row)
padding_matrix = []
top = ['.' for _ in range(x+2)]
padding_matrix.append(top)
padding_matrix_row = []
for row in matrix:
    padding_matrix_row = ['.']          # 왜 달라질까?
    padding_matrix_row.extend(row)
    padding_matrix_row.append('.')
    padding_matrix.append(padding_matrix_row)
padding_matrix.append(top)
count = [['*' for _ in range(y)] for _ in range(x)]
for i in range(1, x+1):
    for j in range(1, y+1):
        if padding_matrix[i][j] == '.':
           count[i-1][j-1] = 0
           for k in range(i-1,i+2):
               for l in range(j-1,j+2):
                   if padding_matrix[k][l] == '*':
                        count[i-1][j-1] += 1
for count_row in count:
    for mine_count in count_row:
        print(mine_count,end='')
    print()

01*21
123*1
2*532
3***1
*4*31

In [3]:
def print_mines(m):
    for row in m:
        for element in row:
            print(element, end=' ')
        print()

In [4]:
import random
row, col = map(int, input().split())
mines = [['*' if random.random() > 0.7 else '.' for _ in range(col)] for _ in range(row)]
print_mines(mines)

. . *
. . .
* . *

In [5]:
pad_mines = [['.'] * (col + 2)]
for row in mines:
    pad_row = ['.']
    pad_row.extend(row)
    pad_row.append('.')
    pad_mines.append(pad_row)
pad_mines.append(['.'] * (col + 2))
print_mines(pad_mines)

. . . . .
. . . * .
. . . . .
. * . * .
. . . . .

In [8]:
final_mines = []
for i in range(1, row+1):
    line = []
    for k in range(1, col+1):
        if pad_mines[i][k] == '*':
            line.append('*')
        else:
            count = (pad_mines[i-1][k-1]=='*') + (pad_mines[i-1][k]=='*') + (pad_mines[i-1][k+1]=='*') + \
                    (pad_mines[i][k-1]=='*')                              + (pad_mines[i][k+1]=='*') + \
                    (pad_mines[i+1][k-1]=='*') + (pad_mines[i+1][k]=='*') + (pad_mines[i+1][k+1]=='*')
            line.append(str(count))
    final_mines.append(line)

print_mines(final_mines)

TypeError: can only concatenate list (not "int") to list

#### Q1 디지털 시계 하루 중 4개 중에 3이 표시되는 시간은 몇 초인가?

In [3]:
time_list = []
for i in range(24):
    for j in range(60):
        time_list.append(f'{i:02d}:{j:02d}')
time_sum = 0
time_sec_list = []
for str_t in time_list:
    if '3' in str_t:
        time_sum += 60
        time_sec_list.append(str_t)
print(time_sec_list)
time_sum

['00:03', '00:13', '00:23', '00:30', '00:31', '00:32', '00:33', '00:34', '00:35', '00:36', '00:37', '00:38', '00:39', '00:43', '00:53', '01:03', '01:13', '01:23', '01:30', '01:31', '01:32', '01:33', '01:34', '01:35', '01:36', '01:37', '01:38', '01:39', '01:43', '01:53', '02:03', '02:13', '02:23', '02:30', '02:31', '02:32', '02:33', '02:34', '02:35', '02:36', '02:37', '02:38', '02:39', '02:43', '02:53', '03:00', '03:01', '03:02', '03:03', '03:04', '03:05', '03:06', '03:07', '03:08', '03:09', '03:10', '03:11', '03:12', '03:13', '03:14', '03:15', '03:16', '03:17', '03:18', '03:19', '03:20', '03:21', '03:22', '03:23', '03:24', '03:25', '03:26', '03:27', '03:28', '03:29', '03:30', '03:31', '03:32', '03:33', '03:34', '03:35', '03:36', '03:37', '03:38', '03:39', '03:40', '03:41', '03:42', '03:43', '03:44', '03:45', '03:46', '03:47', '03:48', '03:49', '03:50', '03:51', '03:52', '03:53', '03:54', '03:55', '03:56', '03:57', '03:58', '03:59', '04:03', '04:13', '04:23', '04:30', '04:31', '04:32', '04:33', '04:34', '04:35', '04:36', '04:37', '04:38', '04:39', '04:43', '04:53', '05:03', '05:13', '05:23', '05:30', '05:31', '05:32', '05:33', '05:34', '05:35', '05:36', '05:37', '05:38', '05:39', '05:43', '05:53', '06:03', '06:13', '06:23', '06:30', '06:31', '06:32', '06:33', '06:34', '06:35', '06:36', '06:37', '06:38', '06:39', '06:43', '06:53', '07:03', '07:13', '07:23', '07:30', '07:31', '07:32', '07:33', '07:34', '07:35', '07:36', '07:37', '07:38', '07:39', '07:43', '07:53', '08:03', '08:13', '08:23', '08:30', '08:31', '08:32', '08:33', '08:34', '08:35', '08:36', '08:37', '08:38', '08:39', '08:43', '08:53', '09:03', '09:13', '09:23', '09:30', '09:31', '09:32', '09:33', '09:34', '09:35', '09:36', '09:37', '09:38', '09:39', '09:43', '09:53', '10:03', '10:13', '10:23', '10:30', '10:31', '10:32', '10:33', '10:34', '10:35', '10:36', '10:37', '10:38', '10:39', '10:43', '10:53', '11:03', '11:13', '11:23', '11:30', '11:31', '11:32', '11:33', '11:34', '11:35', '11:36', '11:37', '11:38', '11:39', '11:43', '11:53', '12:03', '12:13', '12:23', '12:30', '12:31', '12:32', '12:33', '12:34', '12:35', '12:36', '12:37', '12:38', '12:39', '12:43', '12:53', '13:00', '13:01', '13:02', '13:03', '13:04', '13:05', '13:06', '13:07', '13:08', '13:09', '13:10', '13:11', '13:12', '13:13', '13:14', '13:15', '13:16', '13:17', '13:18', '13:19', '13:20', '13:21', '13:22', '13:23', '13:24', '13:25', '13:26', '13:27', '13:28', '13:29', '13:30', '13:31', '13:32', '13:33', '13:34', '13:35', '13:36', '13:37', '13:38', '13:39', '13:40', '13:41', '13:42', '13:43', '13:44', '13:45', '13:46', '13:47', '13:48', '13:49', '13:50', '13:51', '13:52', '13:53', '13:54', '13:55', '13:56', '13:57', '13:58', '13:59', '14:03', '14:13', '14:23', '14:30', '14:31', '14:32', '14:33', '14:34', '14:35', '14:36', '14:37', '14:38', '14:39', '14:43', '14:53', '15:03', '15:13', '15:23', '15:30', '15:31', '15:32', '15:33', '15:34', '15:35', '15:36', '15:37', '15:38', '15:39', '15:43', '15:53', '16:03', '16:13', '16:23', '16:30', '16:31', '16:32', '16:33', '16:34', '16:35', '16:36', '16:37', '16:38', '16:39', '16:43', '16:53', '17:03', '17:13', '17:23', '17:30', '17:31', '17:32', '17:33', '17:34', '17:35', '17:36', '17:37', '17:38', '17:39', '17:43', '17:53', '18:03', '18:13', '18:23', '18:30', '18:31', '18:32', '18:33', '18:34', '18:35', '18:36', '18:37', '18:38', '18:39', '18:43', '18:53', '19:03', '19:13', '19:23', '19:30', '19:31', '19:32', '19:33', '19:34', '19:35', '19:36', '19:37', '19:38', '19:39', '19:43', '19:53', '20:03', '20:13', '20:23', '20:30', '20:31', '20:32', '20:33', '20:34', '20:35', '20:36', '20:37', '20:38', '20:39', '20:43', '20:53', '21:03', '21:13', '21:23', '21:30', '21:31', '21:32', '21:33', '21:34', '21:35', '21:36', '21:37', '21:38', '21:39', '21:43', '21:53', '22:03', '22:13', '22:23', '22:30', '22:31', '22:32', '22:33', '22:34', '22:35', '22:36', '22:37', '22:38', '22:39', '22:43', '22:53', '23:00', '23:01', '23:02', '23:03', '23:04', '23:05', '23:06', '23:07', '23:08', '23:09', '23:10', '23:11', '23:12', '23:13', '23:14', '23:15', '23:16', '23:17', '23:18', '23:19', '23:20', '23:21', '23:22', '23:23', '23:24', '23:25', '23:26', '23:27', '23:28', '23:29', '23:30', '23:31', '23:32', '23:33', '23:34', '23:35', '23:36', '23:37', '23:38', '23:39', '23:40', '23:41', '23:42', '23:43', '23:44', '23:45', '23:46', '23:47', '23:48', '23:49', '23:50', '23:51', '23:52', '23:53', '23:54', '23:55', '23:56', '23:57', '23:58', '23:59']

29700

### 심사문제 Unit 29

In [1]:
x, y = map(int, input().split())
def calc(x, y):
    return x + y, x - y, x * y, float(x / y)
a, s, m, d = calc(x, y)
print('덧셈: {0}, 뺄셈: {1}, 곱셈: {2}, 나눗셈: {3}'.format(a, s, m, d))
print(f'덧셈 : {a}, 뺄셈 : {s}, 곱셈 : {m}, 나눗셈 : {d}')

덧셈: 10, 뺄셈: 0, 곱셈: 25, 나눗셈: 1.0
덧셈 : 10, 뺄셈 : 0, 곱셈 : 25, 나눗셈 : 1.0

### 심사문제 Unit 30

In [20]:
korean, english, mathematics, science = map(int, input().split())
def get_min_max_score(*args):
    return min(args), max(args)         # min([i for i in args]), max([k for k in args])
def get_average(**kwargs):
    return float(sum(kwargs.values()) / len(kwargs))
# def get_average(korean=0, english=0, mathematics=0, science=0):
#     return (korean + english + mathematics + science) / (4 - [korean, english, mathematics, science].count(0))


min_score, max_score = get_min_max_score(korean, english, mathematics, science)
average_score = get_average(korean=korean, english=english,\
                            mathematics=mathematics, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'\
      .format(min_score, max_score, average_score))
 
min_score, max_score = get_min_max_score(english, science)
average_score = get_average(english=english, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'\
      .format(min_score, max_score, average_score))

낮은 점수: 76.00, 높은 점수: 89.00, 평균 점수: 82.75
낮은 점수: 82.00, 높은 점수: 84.00, 평균 점수: 83.00

### 심사문제 Unit 32

In [83]:
files = input().split()
print(list(map(lambda x : '{0:03d}.{1}'.format(int(x.split('.')[0]), x.split('.')[1]) , files)))

['001.jpg', '010.png', '011.png', '002.jpg', '003.png']

In [7]:
files = input().split()
print(list(map(lambda x : f"{int(x.split('.')[0]):03d}.{x.split('.')[1]}", files)))

['001.jpg', '002.xsls', '003.xkjfdl']

In [4]:
files = input().split()
print(list(map(lambda x : f"{x.split('.')[0]:0>3s}.{x.split('.')[1]}", files)))

['010.jpg', '00s.jpg']

#### Q2. 람다함수 
다음 리스트에서 제조사와 모델명을 분리해서 별도의 리스트를 만드세요.<br>
<pre>
cars = ['buick skylart 320', 'plymouth satellite', 'amc reble sst', 'ford torino']

In [15]:
cars = ['buick skylart 320', 'plymouth satellite', 'amc rebel sst', 'ford torino']
manu = list(map(lambda x : x.split()[0], cars))
model = list(map(lambda x : ' '.join(x.split()[1:]), cars))
print(manu)
print(model)

['buick', 'plymouth', 'amc', 'ford']
['skylart 320', 'satellite', 'rebel sst', 'torino']

### 심사문제 Unit 27

In [2]:
with open('words.txt') as file:
    contents = file.read()
words = contents.split()
for word in words:
    if 'c' in word.lower():
        print(word.strip('.,'))

dictator
subjects
change
costume
elegance
accepted

### 심사문제 Unit 38

In [20]:
class NotPalindromeError(Exception):
    def __init__(self):
        super().__init__('회문이 아닙니다.')
def palindrome(word):
    if word != word[::-1]:
        raise NotPalindromeError()
    else:
        print(word)
try:
    word = input()
    palindrome(word)
except NotPalindromeError as e:
    print(e)

회문이 아닙니다.

### 심사문제 Unit 44

In [4]:
import math
radius = float(input())
print(radius * radius * math.pi)

19.634954084936208

### 심사문제 Unit 45

In [5]:
from calcpkg import geometry as gm, operation as op
radius = int(input())
print(op.squareroot(radius))
print(gm.circle_area(radius))

1.4142135623730951
12.566370614359172

### 심사문제 Unit 34

In [4]:
class Annie():
    def __init__(self, health, mana, ability_power):
        self.health = health
        self.mana = mana
        self.ability_power = ability_power
    def tibbers(self):
        damage = self.ability_power * 0.65 + 400
        print(f'티버: 피해량 {damage}')

health, mana, ability_power = map(float, input().split())
 
x = Annie(health=health, mana=mana, ability_power=ability_power)
x.tibbers()

티버: 피해량 593.7

### 계좌

In [7]:
class Account():
    def __init__(self, ano, owner, balance):
        self.ano = ano
        self.owner = owner
        if balance > 10000000:
            print('입급은 10,000,000원 이하여야 합니다.')
        elif balance < 0:
            print('0 이상의 수를 입력하세요')
        else:
            self.balance = balance 
    
    def deposit(self, amount):
        self.balance += amount
        if self.balance > 10000000:
            print('초과한도 10,000,000을 초과하였습니다.')
            self.balance -= amount
            return

    def withdraw(self, amount):
        self.balance -= amount
        if self.balance < 0:
            print('잔액부족으로 인출할 수 없습니다.')
            self.balance -= amount
            return

    def __str__(self):
        return f'계좌번호 : {self.ano}, 소유주 : {self.owner}, 잔액 : {self.balance:10,d}'

In [20]:
acc = Account('123', 'james', 1000000)
acc.deposit(1000)
acc.withdraw(40000)
print(acc)

계좌번호 : 123, 소유주 : james, 잔액 :    961,000

In [27]:
class Account1():
    def __init__(self, ano, owner, balance):
        self.ano = ano
        self.owner = owner
        self.balance = 0 if balance > 10000000 or balance < 0 else balance
        if self.balance == 0:
            print('잔액은 0원 이상이고 10,000,000원 이하여야 합니다.')

    def deposit(self, amount):
        self.balance += amount
        if self.balance > 10000000:
            print('초과한도 10,000,000을 초과하였습니다.')
            self.balance -= amount
            return

    def withdraw(self, amount):
        self.balance -= amount
        if self.balance < 0:
            print('잔액부족으로 인출할 수 없습니다.')
            self.balance -= amount
            return

    def __str__(self):
        return f'계좌번호 : {self.ano}, 소유주 : {self.owner}, 잔액 : {self.balance:<10,d}'

In [34]:
acc = Account1('1234', 'fox', 1000000)
print(acc)
acc.deposit(100000000)
print(acc)
acc.withdraw(1000)
print(acc)

계좌번호 : 1234, 소유주 : fox, 잔액 : 1,000,000
초과한도 10,000,000을 초과하였습니다.
계좌번호 : 1234, 소유주 : fox, 잔액 : 1,000,000
계좌번호 : 1234, 소유주 : fox, 잔액 : 999,000

In [7]:
class balanceException(Exception):
    def __init__(self):
        super().__init__('입금액은 0원 이상이고 10,000,000원 이하여야 합니다.')

class Account2():
    
    def __init__(self, ano, owner, balance):
        def balanceCompared(balance):
            if balance > 100000000 or balance < 0:
                raise balanceException
            return balance
        try:
            balanceCompared(balance)
            self.balance = balance
            self.ano = ano
            self.owner = owner
        except balanceException as e:
            print(e)

    def deposit(self, amount):
        self.balance += amount
        if self.balance > 10000000:
            print('초과한도 10,000,000을 초과하였습니다.')
            self.balance -= amount
            return

    def withdraw(self, amount):
        self.balance -= amount
        if self.balance < 0:
            print('잔액부족으로 인출할 수 없습니다.')
            self.balance -= amount
            return

    def __str__(self):
        return f'계좌번호 : {self.ano}, 소유주 : {self.owner}, 잔액 : {self.balance:<10,d}'