### 심사 문제 Unit 8

In [3]:
korean, english, mathematics, science = map(int, input().split())
print(korean >= 90 and english > 80 and mathematics > 85 and science >= 80)

True

### 심사 문제 Unit 9

In [4]:
s = ''''Python' is a "programming language"
that lets you work quickly
and
integrate systems more effectively.'''
print(s)

'Python' is a "programming language"
that lets you work quickly
and
integrate systems more effectively.

### 심사 문제 Unit 13

In [7]:
price = int(input())
coupon = input()
if(coupon == 'Cash3000'):
    price -= 3000
if(coupon == 'Cash5000'):
    price -= 5000
print(price)

67000

### 심사 문제 Unit 14

In [10]:
korean, english, mathematics, science = map(int,input().split())
if(0 > korean or korean > 100 or 0 > english or english > 100 or 0 > mathematics or mathematics > 100 or 0 > science or science > 100):
    print('잘못된 점수')
else:
    avg = (korean + english + mathematics + science) / 4
    if(avg >= 80):
        print('합격')
    else:
        print('불합격')

잘못된 점수

In [1]:
# list를 사용해서 개선된 코드
scores = list(map(int, input().split()))
if min(scores) < 0 or max(scores) > 100:
    print('잘못된 점수')
else:
    avg = sum(scores)/len(scores)
    if(avg >= 80):
        print('합격')
    else:
        print('불합격')

불합격

In [12]:
age = int(input())
balance = 9000
if 7 <= age <= 12:
    balance -= 650
elif 13 <= age <= 18:
    balance -= 1050
else:
    balance -= 1250
print(balance)

8350

### 심사문제 Unit 10

In [11]:
num = int(input())
a = tuple(range(-10, 10, num))
print(a)

(-10, -7, -4, -1, 2, 5, 8)

### 심사문제 Unit 11 - 01

In [5]:
x = input().split()
y = tuple(x[:len(x)-5])
print(y)

('1', '2', '3', '4', '5')

In [2]:
x = input().split()
del x[-5:]          # del x[len(x)-5:] 
print(tuple(x))

('1', '2', '3', '4', '5')

### 심사문제 Unit 11 - 02

In [3]:
a = input()
b = input()
print(a[1::2] + b[::2])

elwrd

### 심사문제 Unit 12

In [4]:
a = input().split()
b = list(map(float, input().split()))
c = dict(zip(a, b))
print(c)

{'a': 3.1, 'b': 2.3, 'c': 4.5, 'd': 9.1}

In [5]:
list(zip(a, b))

[('a', 3.1), ('b', 2.3), ('c', 4.5), ('d', 9.1)]

In [10]:
a = ['a', 'b']
b = [1, 2]
tuple(zip(a, b))

(('a', 1), ('b', 2))

In [27]:
a = int(input())
for i in range(1, 10):
    print(f'{a} * {i} = {a*i}')

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

### 심사 문제 Unit 20

In [29]:
a, b = map(int, input().split())
for i in range(a, b+1):
    if(i % 5 == 0 and i % 7 == 0):
        print('FizzBuzz')
    elif(i % 5 == 0):
        print('Fizz')
    elif(i % 7 == 0):
        print('Buzz')
    else:
        print(i)

FizzBuzz
36
37
38
39
Fizz

In [6]:
# (i % 5 == 0) True -> 1 False -> 0 -> ''
a, b = map(int, input().split())
for i in range(a, b+1):
    print('Fizz' * (i % 5 == 0) + 'Buzz' * (i % 7 == 0) or i, end=' ')

FizzBuzz 36 37 38 39 Fizz

### 심사 문제 Unit 22

In [56]:
start, end = map(int, input().split())
power_list = []
for index, value in enumerate(list(range(start, end+1))):
    if index == 1:
        _
    elif index == end - start - 1:
        _
    else:
        power_list.append(2**value)
print(power_list)

[2, 8, 16, 32, 64, 128, 256, 1024]

In [8]:
# 2 4 8 16 32
# del a[1]
# del a[len(a)-2] -> 마지막을 지울수가 있음.
# del a[3]
m, n = map(int, input().split())
if 1<=m<=20 and 10<=n<=30 and m<n:
    power_list = []
    for i in range(m, n+1):
        power_list.append(2 ** i)
    del power_list[1], power_list[-2]
    print(power_list)

[2, 8, 16, 32, 64, 128, 256, 1024]

In [66]:
start, end = map(int, input().split())
power_list = []
for index, value in enumerate(list(range(start, end+1))):
    power_list.append(2**value)
print(power_list[:1] + power_list[2:end-start-1] + power_list[end-start:])

[2, 8, 16, 32, 64, 128, 256, 1024]

In [67]:
del power_list[1]
del power_list[-2]
print(power_list)

[2, 8, 16, 32, 64, 128, 256, 1024]

In [81]:
a = 'ABC'
b = a[:2]
a, b

('ABC', 'AB')

In [69]:
b = (1, 2, 3)
b[:1]

(1,)

In [77]:
a, b = range(3)[:2]
a, b

(0, 1)

### 심사문제 Unit 17

In [15]:
deposit = int(input())
while True:
    deposit -= 1350
    if deposit < 0:
        break
    print(deposit)

12150
10800
9450
8100
6750
5400
4050
2700
1350
0

In [ ]:
balance = int(input())
fare = 1350
while balance >= fare:
    balance -= fare
    print(balance)

### 심사문제 Unit 18

In [20]:
start, stop = map(int, input().split())
i = start
while True:
    if i % 10 == 3:
        i += 1
        continue
    if i > stop:
        break
    print(i, end=' ')
    i += 1

1 2 4 5 6 7 8 9 10 11 12 14 15 16 17 18 19 20

In [ ]:
start, stop = map(int, input().split())
for i in range(start, stop+1):
    if i % 3 == 0:
        continue
    print(i)

### 심사문제 Unit 19

In [37]:
t_height = int(input())
for i in range(0, t_height):
    for _ in range(t_height - i - 1, 0, -1):
        print(' ', end='')
    # print(' '*(t_height - i - 1), end='')
    for _ in range(0, 2*i+1):
        print('*', end='')
    # print('*'*(2*i+1), end='')
    print()

    *
   ***
  *****
 *******
*********

In [2]:
height = int(input())
for i in range(1, height + 1):
    print(' ' * (height - i), end='')
    print('*' * (2*i -1))

    *
   ***
  *****
 *******
*********

### 심사문제 Unit 24 - 1

In [41]:
content = input()
words = content.split()
count = 0
for word in words:
    word_strip = word.strip(',.')
    if word_strip == 'the':
        count += 1
print(count)

6

In [ ]:
text_list = text.split()
count_the = 0
for word in text_list:
    word = word.strip("',.").lower()
    if word == 'the':
        count_the += 1
print(count_the)

### 심사문제 Unit 24 - 2

In [57]:
price_list = list(map(int,input().split(';')))
price_list.sort(reverse=True)
for price in price_list:
    print(f'{price:>9,d}')

1,304,000
  367,500
  250,000
  158,000
  128,500
   83,000
   59,200
   51,900

### 심사문제 Unit 25

In [4]:
keys = input().split()
values = map(int, input().split())

x = dict(zip(keys, values))

x.pop('delta')
x = {key:value for key, value in x.items() if value != 30}
# x.pop([key for key, value in x.items() if value == 30][0])

print(x)

{'bravo': 40, 'charlie': 50, 'echo': 70, 'foxtrot': 80, 'golf': 90}

In [21]:
# 반복문에서 반복 대상이 되는 딕셔너리의 크기를 변경시키는 작업을 하면 에러 발생
# 하지만 데이터는 삭제됨
d = {'alpha' : 10, 'bravo' : 20, 'charlie' : 30}
for key, value in d.items():
    if value == 30:
        del d[key]

RuntimeError: dictionary changed size during iteration

In [ ]:
d = {'alpha' : 10, 'bravo' : 20, 'charlie' : 30}
del_key = ''

In [12]:
x, y = map(int, input().split())
a = {i for i in range(1, x+1) if x % i == 0}
b = {j for j in range(1, y+1) if y % j == 0}

divisor = a & b

result = 0
if type(divisor) == set:
    result = sum(divisor)

print(result)

18

### 심사문제 Unit 23

In [15]:
from pprint import pprint
x, y = map(int, input().split())
matrix = []
for _ in range(x):
    mines = input()
    mines_row = []
    for mine in mines:
        mines_row.append(mine)
    matrix.append(mines_row)
padding_matrix = []
top = ['.' for _ in range(x+2)]
padding_matrix.append(top)
padding_matrix_row = []
for row in matrix:
    padding_matrix_row = ['.']          # 왜 달라질까?
    padding_matrix_row.extend(row)
    padding_matrix_row.append('.')
    padding_matrix.append(padding_matrix_row)
padding_matrix.append(top)
count = [['*' for _ in range(y)] for _ in range(x)]
for i in range(1, x+1):
    for j in range(1, y+1):
        if padding_matrix[i][j] == '.':
           count[i-1][j-1] = 0
           for k in range(i-1,i+2):
               for l in range(j-1,j+2):
                   if padding_matrix[k][l] == '*':
                        count[i-1][j-1] += 1
for count_row in count:
    for mine_count in count_row:
        print(mine_count,end='')
    print()

01*21
123*1
2*532
3***1
*4*31

In [3]:
def print_mines(m):
    for row in m:
        for element in row:
            print(element, end=' ')
        print()

In [4]:
import random
row, col = map(int, input().split())
mines = [['*' if random.random() > 0.7 else '.' for _ in range(col)] for _ in range(row)]
print_mines(mines)

. . *
. . .
* . *

In [5]:
pad_mines = [['.'] * (col + 2)]
for row in mines:
    pad_row = ['.']
    pad_row.extend(row)
    pad_row.append('.')
    pad_mines.append(pad_row)
pad_mines.append(['.'] * (col + 2))
print_mines(pad_mines)

. . . . .
. . . * .
. . . . .
. * . * .
. . . . .

In [8]:
final_mines = []
for i in range(1, row+1):
    line = []
    for k in range(1, col+1):
        if pad_mines[i][k] == '*':
            line.append('*')
        else:
            count = (pad_mines[i-1][k-1]=='*') + (pad_mines[i-1][k]=='*') + (pad_mines[i-1][k+1]=='*') + \
                    (pad_mines[i][k-1]=='*')                              + (pad_mines[i][k+1]=='*') + \
                    (pad_mines[i+1][k-1]=='*') + (pad_mines[i+1][k]=='*') + (pad_mines[i+1][k+1]=='*')
            line.append(str(count))
    final_mines.append(line)

print_mines(final_mines)

TypeError: can only concatenate list (not "int") to list

#### Q1 디지털 시계 하루 중 4개 중에 3이 표시되는 시간은 몇 초인가?

In [67]:
time_list = []
for i in range(24):
    for j in range(60):
        time_list.append(f'{i:02d}' + f'{j:02d}')
time_sum = 0
time_sec_list = []
for str_t in time_list:
    if '3' in str_t:
        time_sum += 60
        time_sec_list.append(str_t)
print(time_sec_list)
time_sum

['0003', '0013', '0023', '0030', '0031', '0032', '0033', '0034', '0035', '0036', '0037', '0038', '0039', '0043', '0053', '0103', '0113', '0123', '0130', '0131', '0132', '0133', '0134', '0135', '0136', '0137', '0138', '0139', '0143', '0153', '0203', '0213', '0223', '0230', '0231', '0232', '0233', '0234', '0235', '0236', '0237', '0238', '0239', '0243', '0253', '0300', '0301', '0302', '0303', '0304', '0305', '0306', '0307', '0308', '0309', '0310', '0311', '0312', '0313', '0314', '0315', '0316', '0317', '0318', '0319', '0320', '0321', '0322', '0323', '0324', '0325', '0326', '0327', '0328', '0329', '0330', '0331', '0332', '0333', '0334', '0335', '0336', '0337', '0338', '0339', '0340', '0341', '0342', '0343', '0344', '0345', '0346', '0347', '0348', '0349', '0350', '0351', '0352', '0353', '0354', '0355', '0356', '0357', '0358', '0359', '0403', '0413', '0423', '0430', '0431', '0432', '0433', '0434', '0435', '0436', '0437', '0438', '0439', '0443', '0453', '0503', '0513', '0523', '0530', '0531', '0532', '0533', '0534', '0535', '0536', '0537', '0538', '0539', '0543', '0553', '0603', '0613', '0623', '0630', '0631', '0632', '0633', '0634', '0635', '0636', '0637', '0638', '0639', '0643', '0653', '0703', '0713', '0723', '0730', '0731', '0732', '0733', '0734', '0735', '0736', '0737', '0738', '0739', '0743', '0753', '0803', '0813', '0823', '0830', '0831', '0832', '0833', '0834', '0835', '0836', '0837', '0838', '0839', '0843', '0853', '0903', '0913', '0923', '0930', '0931', '0932', '0933', '0934', '0935', '0936', '0937', '0938', '0939', '0943', '0953', '1003', '1013', '1023', '1030', '1031', '1032', '1033', '1034', '1035', '1036', '1037', '1038', '1039', '1043', '1053', '1103', '1113', '1123', '1130', '1131', '1132', '1133', '1134', '1135', '1136', '1137', '1138', '1139', '1143', '1153', '1203', '1213', '1223', '1230', '1231', '1232', '1233', '1234', '1235', '1236', '1237', '1238', '1239', '1243', '1253', '1300', '1301', '1302', '1303', '1304', '1305', '1306', '1307', '1308', '1309', '1310', '1311', '1312', '1313', '1314', '1315', '1316', '1317', '1318', '1319', '1320', '1321', '1322', '1323', '1324', '1325', '1326', '1327', '1328', '1329', '1330', '1331', '1332', '1333', '1334', '1335', '1336', '1337', '1338', '1339', '1340', '1341', '1342', '1343', '1344', '1345', '1346', '1347', '1348', '1349', '1350', '1351', '1352', '1353', '1354', '1355', '1356', '1357', '1358', '1359', '1403', '1413', '1423', '1430', '1431', '1432', '1433', '1434', '1435', '1436', '1437', '1438', '1439', '1443', '1453', '1503', '1513', '1523', '1530', '1531', '1532', '1533', '1534', '1535', '1536', '1537', '1538', '1539', '1543', '1553', '1603', '1613', '1623', '1630', '1631', '1632', '1633', '1634', '1635', '1636', '1637', '1638', '1639', '1643', '1653', '1703', '1713', '1723', '1730', '1731', '1732', '1733', '1734', '1735', '1736', '1737', '1738', '1739', '1743', '1753', '1803', '1813', '1823', '1830', '1831', '1832', '1833', '1834', '1835', '1836', '1837', '1838', '1839', '1843', '1853', '1903', '1913', '1923', '1930', '1931', '1932', '1933', '1934', '1935', '1936', '1937', '1938', '1939', '1943', '1953', '2003', '2013', '2023', '2030', '2031', '2032', '2033', '2034', '2035', '2036', '2037', '2038', '2039', '2043', '2053', '2103', '2113', '2123', '2130', '2131', '2132', '2133', '2134', '2135', '2136', '2137', '2138', '2139', '2143', '2153', '2203', '2213', '2223', '2230', '2231', '2232', '2233', '2234', '2235', '2236', '2237', '2238', '2239', '2243', '2253', '2300', '2301', '2302', '2303', '2304', '2305', '2306', '2307', '2308', '2309', '2310', '2311', '2312', '2313', '2314', '2315', '2316', '2317', '2318', '2319', '2320', '2321', '2322', '2323', '2324', '2325', '2326', '2327', '2328', '2329', '2330', '2331', '2332', '2333', '2334', '2335', '2336', '2337', '2338', '2339', '2340', '2341', '2342', '2343', '2344', '2345', '2346', '2347', '2348', '2349', '2350', '2351', '2352', '2353', '2354', '2355', '2356', '2357', '2358', '2359']

29700

### 심사문제 Unit 29

In [10]:
x, y = map(int, input().split())
def calc(x, y):
    return x + y, x - y, x * y, x / y
a, s, m, d = calc(x, y)
print('덧셈: {0}, 뺄셈: {1}, 곱셈: {2}, 나눗셈: {3}'.format(a, s, m, d))

덧셈: 48, 뺄셈: 32, 곱셈: 320, 나눗셈: 5.0

### 심사문제 Unit 30

In [20]:
korean, english, mathematics, science = map(int, input().split())
def get_min_max_score(*pos):
    return min([i for i in pos]), max([k for k in pos])
def get_average(**kwargs):
    return sum(kwargs.values()) / len(kwargs)
# def get_average(korean=0, english=0, mathematics=0, science=0):
#     return (korean + english + mathematics + science) / (4 - [korean, english, mathematics, science].count(0))


min_score, max_score = get_min_max_score(korean, english, mathematics, science)
average_score = get_average(korean=korean, english=english,\
                            mathematics=mathematics, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'\
      .format(min_score, max_score, average_score))
 
min_score, max_score = get_min_max_score(english, science)
average_score = get_average(english=english, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'\
      .format(min_score, max_score, average_score))

낮은 점수: 76.00, 높은 점수: 89.00, 평균 점수: 82.75
낮은 점수: 82.00, 높은 점수: 84.00, 평균 점수: 83.00

### 심사문제 Unit 32

In [83]:
files = input().split()
print(list(map(lambda x : '{0:03d}.{1}'.format(int(x.split('.')[0]), x.split('.')[1]) , files)))

['001.jpg', '010.png', '011.png', '002.jpg', '003.png']

In [7]:
files = input().split()
print(list(map(lambda x : f"{int(x.split('.')[0]):03d}.{x.split('.')[1]}", files)))

['001.jpg', '002.xsls', '003.xkjfdl']

In [4]:
files = input().split()
print(list(map(lambda x : f"{x.split('.')[0]:0>3s}.{x.split('.')[1]}", files)))

['010.jpg', '00s.jpg']