In [1]:
a, b, c, d = map(int, input().split())
e = (a + b + c + d) // 4
print(e)

31

In [8]:
year = 2000
month = 10
day = 27
hour = 11
minute = 43
second = 59
print(year, month, day, sep='/', end=' ')
print(hour, minute, second, sep=':')

2000/10/27 11:43:59

In [9]:
year, month, day, hour, minute, second = input().split()
print(year, month, day, sep='-', end='T')
print(hour, minute, second, sep=':')

1999-12-31T10:37:21

In [13]:
korean = 92
english = 47
mathematics = 86
science = 81
print(True if korean>50 and english>50 and mathematics>50 and science>50 else False)
print(korean>50 and english>50 and mathematics>50 and science>50)

False
False

In [19]:
korean, english, mathematics, science = map(int, input().split())
print(korean >= 90 and english > 80 and mathematics > 85 and science >= 80)

False

In [25]:
c = list(map(str,['korean','english']))
c

['korean', 'english']

In [27]:
s = '''Python is a programming language that lets you work quickly
and
integrate systems more effectively
'''
print(s)

Python is a programming language that lets you work quickly
and
integrate systems more effectively

In [28]:
s = ''''Python' is a "programming language"
that lets you work quickly
and
integrate systems more effectively.'''
print(s)

'Python' is a "programming language"
that lets you work quickly
and
integrate systems more effectively.

In [29]:
a = 10, 20, 30, False, 'Hello'
a

(10, 20, 30, False, 'Hello')

In [33]:
a = list(range(5, -10, -2))
print(a)

[5, 3, 1, -1, -3, -5, -7, -9]

In [34]:
a = list(range(5, -11, -2))
print(a)

[5, 3, 1, -1, -3, -5, -7, -9]

In [36]:
a = int(input())
b = tuple(range(-10, 10, a))
print(b)

(-10, -7, -4, -1, 2, 5, 8)

In [43]:
if 10 in [10, 20, 30]:
    print(True)
else:
    print(False)

True

In [52]:
map(int,range(1, 11, 1))

In [55]:
print(list(range(1, 11, 1)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
a = 0b0011
b = 0o12
c = 0x12
a, b, c

(3, 10, 18)

In [1]:
sum = 0
for i in range(1, 11):
    sum += i
print(sum)

55

In [2]:
year = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
population = [10249679, 10195318, 10143645, 10103233, 10022181, 9930616, 9857426, 9838892]
year[-3:], population[-3:]

([2016, 2017, 2018], [9930616, 9857426, 9838892])

In [3]:
camille = {
    'health': 575.6,
    'health_regen': 1.7,
    'mana': 338.8,
    'mana_regen': 1.63,
    'melee': 125,
    'attack_damage': 60,
    'attack_speed': 0.625,
    'armor': 26,
    'magic_resistance': 32.1,
    'movement_speed': 340
}

In [4]:
camille.keys()

dict_keys(['health', 'health_regen', 'mana', 'mana_regen', 'melee', 'attack_damage', 'attack_speed', 'armor', 'magic_resistance', 'movement_speed'])

In [7]:
camille['health'], camille['movement_speed']

(575.6, 340)

In [10]:
x = [49, -17, 25, 102, 8, 62, 21]
for i in x:
    print(i*10, end=' ')

490 -170 250 1020 80 620 210

In [17]:
for i in range(1, 101):
    print('FizzBuzz', end=' ') if i % 15 == 0 else print('Buzz', end=' ') if i % 5 == 0 else print('Fizz', end=' ') if i % 3 == 0 else print(i, end=' ')

1 2 Fizz 4 Buzz Fizz 7 8 Fizz Buzz 11 Fizz 13 14 FizzBuzz 16 17 Fizz 19 Buzz Fizz 22 23 Fizz Buzz 26 Fizz 28 29 FizzBuzz 31 32 Fizz 34 Buzz Fizz 37 38 Fizz Buzz 41 Fizz 43 44 FizzBuzz 46 47 Fizz 49 Buzz Fizz 52 53 Fizz Buzz 56 Fizz 58 59 FizzBuzz 61 62 Fizz 64 Buzz Fizz 67 68 Fizz Buzz 71 Fizz 73 74 FizzBuzz 76 77 Fizz 79 Buzz Fizz 82 83 Fizz Buzz 86 Fizz 88 89 FizzBuzz 91 92 Fizz 94 Buzz Fizz 97 98 Fizz Buzz

In [23]:
for j in range(1, 101):
    print('Fizz' * (j % 3 == 0) + 'Buzz' * (j % 5 == 0) or j)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [28]:
a = (1, 2, 3)
a.clear()

AttributeError: 'tuple' object has no attribute 'clear'

In [30]:
a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']
b = [i for i in a if len(i) == 5]
print(b)

['alpha', 'bravo', 'delta', 'hotel', 'india']

In [34]:
a = [10, 20, 30]
a[3:] = [40]
a

[10, 20, 30, 40]